---

---

<div
  class="w-screen h-fit inline-flex items-center justify-center px-5 md:px-0 py-10 relative"
>
  <iframe
    class="z-100"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/C0VNpaU3hDU?si=5hryTc7eUS9Z7CpK"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>
